body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: whitesmoke;
    color: #000;
}
.navbar .logo{
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
}
.logo-img {
    height: 30px;
}

.profile{
    display: flex;
    align-items: center;
}
.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-size: 1.1em;
}
/* drop sect */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.profile-dropdown:hover .dropdown-content {
    display: block;
}
.profile-dropdown:hover .profile-pic {
    opacity: 0.8;
}

/* cont section */
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap:20px;

}

.patients-section, .profile-section{
flex: 1;
padding: 15px;
background-color: white;
border-radius:10px;
box-shadow: 0 4px 6px rgb(0,0,0,0.1);
}

.diagnosis-section{
flex:2;
padding: 15px;
background-color: white;
border-radius:10px;
box-shadow: 0 4px 6px rgb(0,0,0,0.1);

}

/* Media Queries */

/* For small devices (mobile phones, 600px and down) */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .container {
        flex-direction: column;
        padding: 10px;
    }

    .patients-section, .diagnosis-section, .profile-section {
        width: 100%;
    }
}

/* For medium devices (tablets, 600px to 900px) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .navbar {
        padding: 15px;
    }

    .nav-links {
        gap: 15px;
    }

    .container {
        flex-direction: row;
    }

    .patients-section, .profile-section {
        flex: 1;
    }

    .diagnosis-section {
        flex: 2;
    }
}

/* For large devices (desktops, 900px and above) */
@media screen and (min-width: 901px) {
    .container {
        padding: 20px;
    }

    .patients-section, .profile-section, .diagnosis-section {
        padding: 20px;
    }
}
